TARGET_URL=https://www.stationhead.com/c/buddies
CHANNEL_SLUG=buddies
INGEST_URL=http://localhost:8788/api/ingest
INGEST_SECRET=change-me
INTERVAL_MS=60000
PLAY_COUNT_SELECTOR=
COMMENT_COUNT_SELECTOR=
COMMENT_ITEM_SELECTOR=
COMMENT_AUTHOR_SELECTOR=
COMMENT_TEXT_SELECTOR=